<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<title>Word Counter</title>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<h1 id="header">Word Counter</h1>
			</div>
			<div class="jumbotron">
				<form action="/" method="post">
					<div class="row">
						<div class="col-lg-4">
							<label for="userInput">Insert a sentence:</label>
							<input type="text" name="sentence" placeholder="I like coding">
						</div>
						<div class="col-lg-4">
							<button type="submit">Calculate</button>
						</div>
						<div class="col-lg-4">
							<label for="word">Insert a <span><strong>word</strong></span> to search</label>

						</div>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
